.sapUiSmallMarginEnd {
    margin-right: .5rem;
}
.sapUiSmallMarginEnd {
    margin-right: 1rem; /* Adjust the spacing value as needed */
}




.tileHeading {
    text-align: center;
    font-size: 24px; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 20px; /* Space between heading and tiles */
    color: black; /* Change color as needed */
}

.itemContainer {
    border: 1px solid #050505 ; /* Change color as needed */
    padding: 0.5rem;        /* Adjust padding for spacing */
    margin-right: 1rem;     /* Space between items */
    display: flex;          /* Ensure proper layout for icon and text */
    align-items: center;    /* Center the icon and text vertically */
}
 
 

.tileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.tileLayout {
    border-radius: 0px;   
}

.tileBlue {
    background-color: #005a9e; /* Blue */
    color: white;
}

.tilePink {
    background-color: #ff1493; /* Pink */
    color: white;
}

.tileOrange {
    background-color: #b34700; /* Orange */
    color: white;
}

.sapMTextMaxLine {
    color: white;
    font-size: x-large;
    text-align: center;
}

.tileGreen {
    background-color: #228B22; 
    color: white;
}

.tileRow {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Media Query for smaller screens from 320px to 770px */
@media (max-width: 770px) {
    .tileRow {
        flex-direction: column; /* Stack tiles vertically */
        width: 100%;
        align-items: center;
    }

    .tileLayout {
        width: 90%; /* Adjust tile width for smaller screens */
        margin-bottom: 15px;
        border-radius: 0px;

    }
}

/* CSS to make the table container scrollable horizontally */
.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Ensure the container takes up the full width of its parent */
    white-space: nowrap; /* Prevent line break within the container */
}

.table {
    min-width: 100%; /* Ensure the table's width is at least 100% of its container */
}

.tableclass{
    height : 80% !important;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button{
  padding: 10px !important;
  font-size: 20px !important;
  width: 100px !important;
  height: 60px !important;
}
 
.newButton{
  padding: 10px !important;
  font-size: 20px !important;
  width: 100px !important;
  height: 60px !important;
  float: right;
  margin-right: 10px; 
}



.titleRegister{
    font-size: 20px;
    font-weight: bolder;
}


.saverms{
    float: right;
    margin-right: 10px; 
}


.greenBackground {
   
    color: green; /* Adjust text color for visibility */
}

.redBackground {
   
    color: red; /* Adjust text color for visibility */
}


/* Apply background color based on status */
.sapUiTableCell[data-status="Available"] {
    background-color: #dff0d8 !important; /* Light green for available */
}

.sapUiTableCell[data-status="Deprecated"] {
    background-color: #e7c82c !important; /* Light yellow for deprecated */
}



.redCell {
    background-color: red;
    color: white; }
 
.greenCell {
    background-color: green;
    color: white; }


/* .deletionFlagRed {
        background-color: rgb(217, 30, 30) !important; 
        color: white; 
        display: block; 
} */
    
/* .deletionFlagGreen {
        background-color: rgb(30, 153, 45) !important;  
        color: white; 
        display: block; 
} */
.sapUiTableRow [data-status="deletionFlagGreen"]  {
  
    color:green;
   
}

/* For Red Color */
.sapUiTableRow [data-status="deletionFlagRed"]  {
  
    color: red;
   
}


/* For Red Color */
/* .sapUiTableRow [data-status="deletionFlagBlue"]  {
    background-color: rgb(77, 115, 221);
    color: white;
    width: 100%;
    height: 2rem;
    
} */


.sapUiTableDataCell>.sapUiTableCellInner{
    padding: 0px !important;
    /* text-align: center;
    align-items: center !important; */
}



/* Define CSS classes for ComboBox colors */
.comboItemGreen {
    color: green !important;
}

.comboItemOrange {
    color: orange !important;
}

.comboItemRed {
    color: red !important;
}


/* CSS for ComboBox item styling */

/* style.css */
.status-approved {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
}

.status-in-progress {
    background-color: #fff3cd; /* Light yellow */
    color: #856404; /* Dark yellow */
}

.status-rejected {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
}




.sapUiTableCell, .sapUiTableContentCell, .sapUiTableDataCell{
 text-align: center !important;
}


